* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Poppins',sans-serif;
}

body {
    overflow: hidden;
}

.slide img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: .3s ease;
}

.slide.active img{
    opacity: 1;
    transition: .3s ease;
} 




.header {
    z-index: 100;
    position: fixed;
    color: #fff;
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.header .left {
    display: flex;
    margin: 20px;
}

.header .left .head {
    font-size: 50px;
    margin-right: 50px;
    text-decoration: none;
    color: #fff;
}

.header .left .socialMedia {
    display: flex;
    align-items: center;
}

.header .left .socialMedia a {
    color: #fff;
    margin-right: 20px;
    font-size: 30px;
    &:hover{
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 5px 15px;
        color: #000;
    }
}

.header .right .navbar ul{
    margin: 20px;
    display: flex;
    align-items: center;
}

.header .right ul a{
    border-bottom: 1px solid #fff;
    list-style-type: none;
    margin: 10px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    &:hover{
        color: #000;
    }
}

.slide .left-info {
    position: absolute;
    width: 50%;
    height: 100%;

    transition: 0s ;
    transform: translateY(-100%);
}

.slide.active .left-info{
    transform: translateY(0);
    transition: .3s ease;
}



.blur-area {
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-mask: linear-gradient(#fff 0 0),
    linear-gradient(#fff 0 0);
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
}

.blur-area h1 {
    text-shadow: 0 0 10px rgba(255, 255, 255, .9);
    color: #fff;
    font-size: 200px;

}

.left-info .content {
    position: absolute;
    bottom: 8%;
    left: 1%;
    color: #fff;
}

.left-info .btn {
    position: absolute;
    border: 1px solid #fff;
    bottom: 2%;
    right: 5%;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: #fff;
    &:hover{
        color: #000;
    }
}


.slide .right-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, .5);
    transform: translateX(100%);
    transition: 0s ;
}

.slide.active .right-info{
    transform: translateX(0);
    transition: .3s ease;
}

.right-info h1 {
    font-size: 200px;
}

.navigation {
    position: absolute;
    bottom: 8%;
    right: 5%;
}

.navigation .prev-btn {
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 5px;
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
    &:hover{
        background-color: #fff;
        color: #000;
    }
}

.navigation .next-btn {
    border: 1px solid #fff;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;
    &:hover{
        background-color: transparent;
        color: #fff;
    }
}